* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  background-image: url(img/bg.png);
}

.container{
  margin: auto;
  width: 100%;
  display: grid;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  grid-template-areas:
    'header'
    'nav'
    'hero'
    'content'
    'profile'
    'service'
    'gallery'
    'footer';
  box-shadow: 0 0 10px white;
}

h2, h3 {
  text-align: center;
}

:target {
  background-color: rgba(135, 206, 250, 0.5);
}

header, nav {
  background-color: #2b2b2b;
}

/* Header */
header {
  grid-area: header;
  font-size: 24px;
  padding: 20px;
  color: white;
  letter-spacing: 5px;
}
/* Akhir Header */

/* Navbar */
nav{
  grid-area: nav;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  text-align: center;
}
nav ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav li {
  background-color: rgb(73, 73, 73);
  padding: 15px;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid #2B2B2B;
  padding: 15px 20px;
}
nav li:hover{
  transform: scale(1.1);
  transition: 90ms;
}
nav a {
  width: 100%;
  text-decoration: none;
  color: white;
}
/* Akhir Navbar */

/* Hero */
.hero {
  grid-area: hero;
  height: 700px;
  background-image: linear-gradient(
    rgba(43, 43, 43, 1),
    rgba(43, 43, 43, 0) 10%,
    rgba(238, 238, 238, 0) 90%,
    rgba(238, 238, 238, 1)
    );
}
/* Akhir Hero */

/* Content */
.content {
  grid-area: content;
  background-color: #eee;
  padding: 40px;
  grid-template-areas:
    'main'
    'profile';
}
.content p {
  margin: 20px 0;
  font-size: 22px;
}
/* Akhir Content */

main h2{
  font-size: 40px;
}

/* Profile */
.profile {
  margin-top: 50px;
  grid-area: profile;
  background-color: #eee;
}

.profile img{
  width: 200px;
  float: left;
  margin: 10px 20px 10px 0;
}

.profile h3 {
  font-size: 30px;
}
.profile p {
  font-size: 15px;
  margin: 10px;
}

.contacts {
  margin-top: 20px;
}
.contacts h4 {
  font-size: 23px;
}
.contacts ul {
  margin: 10px;
}
.contacts li {
  margin: 10px 10px;
}
/* Akhir Profile */

/*Services*/
.services {
  grid-area: service;
  background-color: #eee;
}
.services content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
  padding: 50px 10px 10px 10px;
  /*background-color: ;*/
}
.services h2 {
  font-size: 40px;
  text-align: center;
}
.service {
  margin: 10px auto;
  text-align: center;
  background-color: #bbb;
  padding: 20px;
  border-radius: 30px;
}

.service:hover{
  transform: scale(1.1);
  transition: 300ms;
}
.service img{
  width: 250px;
}
.service h4 {
  font-size: 24px;
}
.service p {
  font-size: 16px;
}
/*Akhir Service*/

.gallerys {
  grid-area: gallery;
  background-color: #eee;
}

.gallerys h2 {
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
}

.pic {
  background-color: #bbb;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.pic img{
  width: 100%;
  display: block;
}

.pic img:hover{
  transform: scale(1.09);
  transition: 300ms;
}


/* Footer */
footer {
  grid-area: footer;
  background-color: #323232;
  text-align: center;
  padding: 10px;
  color: white;
}
/* Akhir Footer */
