@media (min-width: 1024px){
  .container{
    width: 1000px;
    grid-template-areas:
    'header nav'
    'hero hero'
    'content content'
    'service service'
    'gallery gallery'
    'footer footer';
  }
  .hero {
    height: 750px;
  }

  .profile {
    margin-top: 0px;
  }
  .profile img {
    width: 100px;
    float: left;
    margin: 10px 20px 10px 0;
    border-radius: 100px;
  }
  .content {
    display: grid;
    grid-template-areas:
    'main profile'
    'service service';
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .service {
    width: 300px;
    margin: 10px;
  }
  .service img {
    width: 200px;
  }

  nav li {
    border-radius: 20px;
    text-align: center;
    width: 100px;
    padding: 10px 20px;
    box-shadow: 0 0 5px white;
  }
  h2, h3 {
    text-align: left;
  }



}

@media (max-width: 480px){
  .profile img {
    display: flex;
    width: 150px;
    justify-content: center;
  }
  .pic {
    width: 100%;
  }
}
